.navigation {
    margin-bottom: 3%;
    height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-customBackground {
    background-image: linear-gradient(to right,#823604,#f96400 )
}