

.widget-button {
    position: relative;
    top: 50%;
    transition: 0.3s ease;
    height: inherit;
    text-align: center;
    transform: translateY(-50%);
}

.widget_text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 1%;
    margin-bottom: 10%;
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.widget_list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.widget_remove_button {
    position: absolute;
    top: 10%;
    /*transform: translate(-50%, -50%);*/
    z-index: 1000; /* always be on top*/
}