
/*For the parts not in container*/
:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #212529;
}

/*for parts inside of container*/
.dark {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #212529;
}