.countdown-message {
    /*transform: translateY(100%);*/
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 0.45;

}


.countdown-date-selector {
    padding-top: 7%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}