.widget {
    width: auto;
    height: 100%;
    margin-top: 1%;
    text-align: center;
}

.widget form {
    margin-top: 1%;
    padding: 1%;
}

.widget h3 {
    padding: 0;
    margin: 1%;
}

.widget p {
    margin: 0;
    padding: 0;
}
.widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}